@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<html>
We deliver almost every area around the country. Choose your area to order your product:
<ul>
    <li><a href="#">Toronto</a></li>
    <li><a href="#">Barrie</a></li>
    <li><a href="#">Niagara Falls</a></li>
    <li><a href="#">Blue mountain</a></li>
    <li><a href="#">Vancouver</a></li>
    <li><a href="#">Surrey</a></li>
    <li><a href="#">montreal</a></li>
</ul> 

</html>