@{
    ViewBag.Title = "Select";
}

<h3>@ViewBag.Message</h3>

<ul>
    <li><a href="#">Addidas</a></li>
    <li><a href="#">Jordans</a></li>
    <li><a href="#">Nike</a></li>
    <li><a href="#">Puma</a></li>
    <li><a href="#">Reebok</a></li>
</ul>